body {
    background-color: blanchedalmond;

}

.box {
    display: inline-block;
    text-align: justify;
    width: 350px;
    height: 550px;
    background-color: rgb(168, 31, 127);
}

.box-1 {
    margin-top: 4px;
    border-right: 5px solid black;
    padding: 25px rgb(202, 152, 111);
    background-color: rgb(206, 105, 105);
    margin-bottom: 20px;
  
    border-left: 5px solid black;
    border-top: 5px solid black;
}

.box-2 {
    margin-top: 2px;
    border-right: 5px solid black;

    padding: 25px rgb(122, 219, 127);
    background-color: rgb(23, 107, 93);
    margin-bottom: 20px;
    border-left: 5px solid black;
    border-top: 5px solid black;
}

.box-3 {
    margin-top: 2px;
    border-right: 5px solid black;
    padding: 25px rgb(175, 105, 196);
    background-color: rgb(101, 22, 167);
    margin-bottom: 20px;
    border-left: 5px solid black;
    border-top: 5px solid black;
}

.box-4 {
    margin-top: 2px;
    border-right: 5px solid black;
    padding: 25px rgb(67, 156, 90);
    background-color: rgb(31, 71, 4);
    margin-bottom: 20px;
    border-left: 5px solid black;
    border-top: 5px solid black;
}

.box-5 {
    margin-top: 2px;
    border-right: 5px solid black;
    padding: 25px rgb(189, 163, 78);
    background-color: rgb(221, 141, 37);
    margin-bottom: 20px;
    border-left: 5px solid black;
    border-top: 5px solid black;
}