.box-main {
    background-image: url("../img/Kinkaku-ji-El-Templo-del-PabelloÌn-Dorado.jpg");
    width: 100%;
    height: 100vh;
    /*background-repeat: no-repeat;*/
    background-size: cover;
}

