* {
    padding: 0;
    margin:     0;

}

body {
    background-color: darkgrey;
}

.box-text {
    color: rgb(0, 0, 0);
    align-items: center;
    display: flex;

    justify-content: center;
    
}

.contenedor1 {
    border: 1.5px black solid;
    justify-content: center;
    display: flex;
    margin: 20px;
    width: 260px;
    height: 260px;
    background-color: rgb(188, 185, 190);

    box-shadow: 40px 20px 38px rgb(172, 173, 81);
}

.PRIMARIO {
    justify-content: center;
    display: flex;
}

.SEGUNDARIO {
    display: flex;
    justify-content: center;
}

.contenedor2 {
    border: 1.5px black solid;
    justify-content: center;
    margin: 20px;
    display: flex;
    width: 260px;
    height: 260px;
    background-color: rgb(188, 185, 190);

    box-shadow: 40px 25px 30px rgb(62, 80, 182);
}

.contenedor3 {
    border: 1.5px black solid;
    justify-content: center;
    margin: 20px;
    display: flex;
    width: 260px;
    height: 260px;
    background-color: rgb(188, 185, 190);
 
    box-shadow: 40px 25px 30px rgb(62, 80, 182);
}

.TERCEARIO {
    display: flex;
    justify-content: center;
}

.contenedor4 {
    border: 1.5px black solid;
    justify-content: center;
    margin: 20px;
    display: flex;
    width: 260px;
    height: 260px;
    background-color: rgb(188, 185, 190);

    box-shadow: 40px 30px 25px rgb(199, 106, 83);
}

.contenedor5 {
    border: 1.5px black solid;
    justify-content: center;
    margin: 20px;
    display: flex;
    width: 260px;
    height: 260px;
    background-color: rgb(188, 185, 190);

    box-shadow: 40px 30px 25px rgb(199, 106, 83);
}

.contenedor6 {
    border: 1.5px black solid;
    justify-content: center;
    margin: 20px;
    display: flex;
    width: 260px;
    height: 260px;
    background-color: rgb(188, 185, 190);

    box-shadow: 40px 30px 25px rgb(199, 106, 83);
}

