* {
    padding: 0;
    margin:     0;
}

.box-text {
    text-align: center;
}

.contenedor1 {
    justify-content: center;
    margin: 20px;
    display: flex;
    width: 260px;
    height: 260px;
    background-color: rgb(183, 150, 209);
    margin-left: 780px;
    box-shadow: 40px 20px 15px rgb(117, 76, 148);
}

.SEGUNDARIO {
    display: flex;
}

.contenedor2 {
    justify-content: center;
    margin: 20px;
    display: flex;
    width: 260px;
    height: 260px;
    background-color: rgb(183, 150, 209);
    margin-left: 615px;
    box-shadow: 40px 20px 15px rgb(117, 76, 148);
}

.contenedor3 {
    justify-content: center;
    margin: 20px;
    display: flex;
    width: 260px;
    height: 260px;
    background-color: rgb(183, 150, 209);
    margin-left: 50px;
    box-shadow: 40px 20px 15px rgb(117, 76, 148);
}

.TERCEARIO {
    display: flex;
}

.contenedor4 {
    justify-content: center;
    margin: 20px;
    display: flex;
    width: 260px;
    height: 260px;
    background-color: rgb(183, 150, 209);
    margin-left: 450px;
    box-shadow: 40px 20px 15px rgb(117, 76, 148);
}

.contenedor5 {
    justify-content: center;
    margin: 20px;
    display: flex;
    width: 260px;
    height: 260px;
    background-color: rgb(183, 150, 209);
    margin-left: 50px;
    box-shadow: 40px 20px 15px rgb(117, 76, 148);
}

.contenedor6 {
    justify-content: center;
    margin: 20px;
    display: flex;
    width: 260px;
    height: 260px;
    background-color: rgb(183, 150, 209);
    margin-left: 50px;
    box-shadow: 40px 20px 15px rgb(117, 76, 148);
}
