body {
    background-color: rgb(24,24,24,.9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


h1 {
    font-family: "DS-DIGII";
    font-size: 9em;
    color: rgb(190, 144, 16);    
}
@font-face {
    font-family: "DS-DIGII";
    src: url(../font/ds_digital/DS-DIGII.TTF);
}