*{
    padding: 0;
    margin: 0;

}

.inicio{
    width: 100%;
}




.centro {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    padding-top: 10px;
    border-bottom: 1px solid rgb(214, 214, 214);

}

.minilogo {
    display: none;
}

.busqueda {
    display: flex;
    align-items: center;

}

.bus {
    width: 650px;
    height: 40px;
    border: 1px solid rgb(214, 214, 214);
    padding-left: 10px;
}

.ubicacion {
 
    width: 150px;
    height: 50px;
    border: 1px solid black;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.carrito {
    margin-left: 10px;

    width: 80px;
    height: 50px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
}

.CMR {
    margin-left: 10px;

    width: 120px;
    height: 50px;

}
.cuenta {
    margin-left: 10px;

    width: 100px;
    height: 50px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
}




@media only screen and (max-width:320px) {
    .minilogo {
        display: flex;
    }

    .CMR {
        margin-left: 10px;
        display: none;
        width: 120px;
        height: 50px;
    
    }

    .logo-grande{
        display: none;
    }

    .busqueda{
        display: block;
    }

    .bus {
        display: none;
    }

}