body {
    background-color: rgb(58, 24, 151);
}

.img-100 {
    height: 30%;
    width: 30%;
    border: 10px solid #200956;
    margin-left: 25px;
}

.box-40 {
    display: flex;
    justify-content: center;

}

h1{
    font-size: 3em;
    text-align: center;
}

h2{
    font-size: 1.5em;
    text-align: center;
}
