* {
    margin: 0;
    padding: 0;
}

.imagen {
    display: inline-block;
    width: 29%;
    margin: 30px 1.55%;
    vertical-align: top;

    border: 5px solid rgb(88, 87, 87);

}

.img-100 {
    width: 95%;
    padding: 10px;
    border: 5px dashed black;
}

h1, h2, h3 {
    text-align: center;
}

p {
    text-align: justify;
}

.title {
    background-color:rgb(190, 190, 190); 
    border: 2px solid black;
    width: 90%;
    margin-left: 5%;
}
.conten {
    background-color:rgb(190, 190, 190); 
    border: 2px solid black;

}