body {
    background-color: rgba(114, 84, 84, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: "Bebas Neue", cursive;
    font-size: 9em;
    color: red;    
}

