* {
    margin: 0%;
    padding: 0%;
}

body {
background-color: rgb(230, 227, 227);
}

#desplegable {
    margin: auto;
    width: 500px;

}

nav {
    display: flex;
    justify-content: right;
    height: 100vh;

}

nav li  {
    margin-top: 5px;
    background-color: rgb(168, 168, 168);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
nav li a {
    background-color: rgb(138, 138, 138);
    color: beige;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav li a:hover{
    background-color: rgb(114, 114, 114);

}

nav > li {
    float: left;


}

nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

nav li:hover > ul{
    display: block;
}

.nav li ul li ul {
    right: -140;
    top: 0px;
}